.action-section {
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 80;
    position: fixed;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
    height: calc(100vh - 60px);
}

.action-section-l {
    left: 0;
    padding-left: 20px;
}
.action-section-r {
    right: 0;
    padding-right: 20px;
}
.action-button {
    min-width: 32px;
    min-height: 32px;
    filter: drop-shadow(0 20px 10px rgb(0 0 0 / 0.03)) drop-shadow(0 4px 5px rgb(0 0 0 / 0.18));
    margin-bottom: 20px;
    cursor: pointer;
}

.button-next-section, .button-prev-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}
.button-next, .button-prev {
    transition: transform 0.3s;
}

.button-prev:hover{
    transform: translateX(-15px);
}
.button-next:hover{
    transform: translateX(15px);
}

.action-button-img {
    width: 32px;
    height: 32px;
}
.action-button-img-lg {
    width: 64px;
    height: 64px;
}
