@font-face {
    font-family: 'KoPubDotumMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family: KoPubDotumMedium sans-serif;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.shadow {
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.22));
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
ul {
    list-style-type: none;
}

/*audio::-webkit-media-controls-fullscreen-button {*/
/*    */
/*}*/

/*audio::-webkit-media-controls-panel {*/
/*    background-color: rgba(255, 0, 0, 0.1);*/
/*    color: white;*/
/*    height: 20px;*/
/*}*/
/*audio::-webkit-media-controls-mute-button*/
/*audio::-webkit-media-controls-play-button*/
/*audio::-webkit-media-controls-timeline-container*/
/*audio::-webkit-media-controls-current-time-display*/
/*audio::-webkit-media-controls-time-remaining-display*/
/*audio::-webkit-media-controls-timeline*/
/*audio::-webkit-media-controls-volume-slider-container*/
/*audio::-webkit-media-controls-volume-slider*/
/*audio::-webkit-media-controls-seek-back-button*/
/*audio::-webkit-media-controls-seek-forward-button*/
/*audio::-webkit-media-controls-fullscreen-button*/
/*audio::-webkit-media-controls-rewind-button*/
/*audio::-webkit-media-controls-return-to-realtime-button*/
/*audio::-webkit-media-controls-toggle-closed-captions-button*/