body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("images/main/background.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: calc(100vw * 6) 100vh;
}
.background {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    /*background-color: red;*/
    background-image: url("images/main/background.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: calc(100vw * 6) 100vh;
}

.fade-in {
    animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.scene {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 50px;
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    /*background-color: #ffca36;*/
}

.cloud {
    margin: 80px auto;
    width: 1407px;
    height: 385px;
    /*right: 0;*/
    background-image: url("images/main/cloud.png");
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 8442px 385px;
    transition: background 0.3s ease-in-out;
}

.guide {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -220px;
    margin: 0 auto;
    text-align: center;
    z-index: 30;
}
.introduction {
    display: block;
    margin: 10px auto;
    pointer-events: none;
}
.artwork-link {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.cloud-container {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;

    left: -80px;
}

.sun-area-for-interact {
    position: absolute;
    width: 720px;
    height: 1px;
    transform: scaleX(1.2);
    z-index: 20;
    cursor: grab;
}

.sun-area-for-interact:active {
    cursor: grabbing;
}
.sun-area-for-display {
    position: absolute;
    width: 720px;
    height: 1px;
    transform: scaleX(1.2);
}

.sun-for-display {
    position: absolute;
    width: 160px;
    height: 162px;
    left: -80px;
    top: -80px;
    transform: scaleX(0.83333);
    transition: background-image 0.3s ease-in-out;
    background-image: url("images/main/sun.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 969px 162px;
}
.sun-for-interact
{
    position: absolute;
    width: 160px;
    height: 160px;
    left: -80px;
    top: -80px;
    transform: scaleX(0.83333);
}

.center-point {
    position: absolute;
    width: 10px;
    height: 10px;
}


.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
    from { transform: scale(0.95); }
    to { transform: scale(1.05); }
}